<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">


    <title>Anastasia Martynovitch</title>
  </head>
  <body>

<nav class="navbar navbar-expand-sm sticky-top navbar-custom">
  <div class="container justify-content-center">
    
    <div class="collapse navbar-collapse flex-fill w-100 flex-nowrap justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="assets/resumeJan2019.pdf">Print Resume</a>
      </div>
    </div>
    
      <div class="nav navbar-nav brand flex-fill justify-content-center">
        <a class="nav-item nav-link" href="#"><img src="images/logo.png"/></a>
      </div>

    <div class="collapse navbar-collapse flex-fill w-100 flex-nowrap" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="https://www.linkedin.com/in/amartynovitch/">Contact Me</a>
      </div>
    </div>
    
  </div>
</nav>
    