<% include partials/header %>
<div class="container-fluid intro pt-5">
	<div class="container">
		<div class="row h-100">
			<div class="col-md my-auto pb-5">
				<h1>Hi, I'm Anastasia</h1>
				<p class="text-left">Short blip about me. You should definitely hire me. Here’s what I’m looking for, and here are the key things I’ve done since becoming a real person:</p>
				<ul class="text-left">
					<li>Bullet 1 about driving 97% of concrete value. Always.</li>
					<li>Bullet 1 about driving 97% of concrete value. Always.</li>
					<li>Bullet 1 about driving 97% of concrete value. Always.</li>
					<li>Bullet 1 about driving 97% of concrete value. Always.</li>
				</ul>
				<a href="https://www.linkedin.com/in/amartynovitch/" class="btn btn-outline-primary btn-lg custom-btn">More About Me</a>
			</div>
			<div class="col-md d-none d-lg-block">
				<img src="images/me.png"/>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid work">
	<div class="container py-5">
		<div class="row h-100">
			<div class="col-sm mt-5 pb-4">
				<h1>Work Experience</h1>
			</div>
		</div>
		<div class="card-deck-wrapper">
			<div class="card-deck">
				<div class="card bg-dark text-white text-center mb-4">
					<img class="card-img" src="/images/toronto.png" alt="Toronto Skyline">
					<div class="card-img-overlay h-100 d-flex flex-column justify-content-center">
						<p class="text-center job-title px-4 mx-0">Prototype Solutions Analyst</p>
						<hr>
						<p class="text-center job-location px-4 py-0 my-0">Manulife</p>
						<p class="text-center job-location px-4 py-0 my-0">Waterloo, Canada</p>
					</div>
				</div>
				<div class="card bg-dark text-white text-center mb-4">
					<img class="card-img" src="/images/toronto.png" alt="Toronto Skyline">
					<div class="card-img-overlay h-100 d-flex flex-column justify-content-center">
						<p class="text-center job-title px-4 mx-0">Prototype Solutions Analyst</p>
						<hr>
						<p class="text-center job-location px-4 py-0 my-0">Manulife</p>
						<p class="text-center job-location px-4 py-0 my-0">Waterloo, Canada</p>
					</div>
				</div>
				<div class="card bg-dark text-white text-center mb-4">
					<img class="card-img" src="/images/toronto.png" alt="Toronto Skyline">
					<div class="card-img-overlay h-100 d-flex flex-column justify-content-center">
						<p class="text-center job-title px-4 mx-0">Prototype Solutions Analyst</p>
						<hr>
						<p class="text-center job-location px-4 py-0 my-0">Manulife</p>
						<p class="text-center job-location px-4 py-0 my-0">Waterloo, Canada</p>
					</div>
				</div>
				<div class="card bg-dark text-white text-center mb-4">
					<img class="card-img" src="/images/toronto.png" alt="Toronto Skyline">
					<div class="card-img-overlay h-100 d-flex flex-column justify-content-center">
						<p class="text-center job-title px-4 mx-0">Prototype Solutions Analyst</p>
						<hr>
						<p class="text-center job-location px-4 py-0 my-0">Manulife</p>
						<p class="text-center job-location px-4 py-0 my-0">Waterloo, Canada</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid startup">
	<div class="container py-5">
		<div class="row h-100">
			<div class="col-sm mt-5 pb-4">
				<h1>My Past Startup: Actively</h1>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid projects">
	<div class="container py-5">
		<div class="row h-100">
			<div class="col-sm mt-5 pb-4">
				<h1>Projects</h1>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid contact">
	<div class="container py-5">
		<div class="row h-100">
			<div class="col-sm mt-5 pb-4">
				<h1>Let's get to know eachother!</h1>
			</div>
		</div>
		<div class="row">
		    <div class="col-6">
		        <div id="medium-widget"></div>
    <script src="https://medium-widget.pixelpoint.io/widget.js"></script>
    <script>MediumWidget.Init({renderTo: '#medium-widget', params: {"resource":"https://medium.com/@anastasiam","postsPerLine":2,"limit":4,"picture":"big","fields":[],"ratio":"landscape"}})</script>
		    </div>
		</div>
	</div>
</div>
<% include partials/footer %>